[submodule "SkeletonEngine/vendor/spdlog"]
	path = SkeletonEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SkeletonEngine/vendor/GLFW"]
	path = SkeletonEngine/vendor/GLFW
	url = https://github.com/BPHarris/glfw
[submodule "SkeletonEngine\\vendor\\imgui"]
	path = SkeletonEngine\\vendor\\imgui
	url = https://github.com/bpharris/imgui
